*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  text-align: center;
}
.nav{
  display: flex;
  justify-content: space-around;
  background: gray;
  padding: 10px 0;
}
.nav a{
  margin-right: 10px;
}